.demo-section .cs-minisakai-logo,
.demo-section .closebtn img {
    content: url('../Image/128.png');
    width: 40px;
    height: 40px;
}

.demo-section .closebtn img {
    width: 20px;
    height: 20px;
    content: url('../demofiles/closeBtn.svg');
}

/* demo-content の高さを制限 */
.demo-content {
    max-height: 600px;
    overflow: auto;
}
